<div class="description"><h3><%= params[:by_type] || params[:by_list] || "All" %> (<%= @tasks.length %>) </h3></div>


<%= render( partial: "doable", collection: @pagetasks) %>

<script>
$(".task-check").bind('change', function(){
    if (this.checked){
    console.log('Yay! good work you finished it');
    } else {
    console.log('un-did the done');
    } $.ajax({
      url: '/users/'+<%= current_user.id %>+'/tasks/'+this.value+'/toggle',
      type: 'POST',
      data: {"done": this.checked, "id": this.value }
    });
});
</script>

<%= paginate @pagetasks %>

<!-- render( partial: "collection",
collection: current_user.tasks,
#%w{a b c d e fun ghost house indigo},
spacer_template: "spacer"
) -->

