<div class="description"><h3><%= params[:by_type] || params[:by_list] || "All" %> (<%= @tasks.length %>) </h3></div>


<%= form_tag user_complete_path, :method => :put do %>
  <%= render( partial: "doable", collection: @tasks) %>
  <%= submit_tag "Mark as done" %>
<% end %>

<%= paginate @tasks %>

<!-- render( partial: "collection",
collection: current_user.tasks,
#%w{a b c d e fun ghost house indigo},
spacer_template: "spacer"
) -->

