<ul class="subnav">
  <li class="nav-filter all"> <%= link_to 'All', user_tasks_path(current_user) %></li>
  <li class="nav-filter types">  <%= link_to 'Type', user_path(current_user) %>
    <ul class="drop">
      <% @all_types.each do |type|%>
        <li>
        <%= link_to type, user_tasks_path(current_user, by_type: type)  %>
      </li>
      <% end %>
    </ul>
  </li>

  <li class="nav-filter lists"> <%= link_to 'List', user_path(current_user) %>
    <ul class="drop">
      <% current_user.lists.each do |list|%>
        <li>
        <%= link_to list.name, user_tasks_path(current_user, by_list: list.id) %>
        </li>
      <% end %>
    </ul>
  </li> 

  <li class="nav-filter done"><%= link_to 'Done',  user_tasks_path(current_user, by_done:1) %></li>
  <li class="nav-filter done"><%= link_to 'ToDo',  user_tasks_path(current_user, by_done:0) %></li>
</ul>   
