<!DOCTYPE html>
<html>
  <head>
    <title> <%= page_title %> </title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <style>

    </style>

  </head>
  <body>

    <div class="header">
      <nav class="navbar navbar-default navbar-landing-page" role="navigation">
        <%= render 'layouts/navbar' %>
      </nav>
    </div>

    <div class="page-content">
      <div class="message">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
      <%= yield %>
    </div>

    <div class="footer">
    </div>
  </body>
</html>
